* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
/* FONTS */

@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url("fonts/PlayfairDisplay-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "PlayfairDisplay-BoldItalic";
    src: url("fonts/PlayfairDisplay-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "PlayfairDisplay-Italic";
    src: url("fonts/PlayfairDisplay-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("fonts/PlayfairDisplay-Regular.otf") format("opentype");
    font-weight: none;
}

@font-face {
    font-family: "Raleway-Light";
    src: url("fonts/Raleway-Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "Raleway-LightItalic";
    src: url("fonts/Raleway-LightItalic.ttf") format("truetype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("fonts/Raleway-Medium.ttf") format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Raleway-MediumItalic";
    src: url("fonts/Raleway-MediumItalic.ttf") format("truetype");
    font-weight: medium;
    font-style: italic;
}

.font-size{
  font-size: 16px;
}
.text-collection{
  font-family: "Raleway-Medium";
}
.text-season{
  font-family: "PlayfairDisplay-Regular";
  font-size: 2.2em;
}
.text-left{
  font-family: "PlayfairDisplay-Italic";
  font-size: 2.2em;
  padding-right: 10px;
}
.text-right{
  font-family: "PlayfairDisplay-Bold";
  font-size: 2.2em;
}
.text-blurb{
  font-family: "Raleway-Light";
  line-height: 2.2em;
}
.text-prod-cat{
  font-family: "Raleway-Medium";
  font-size: 0.6em;
}
.text-prod{
  font-family: "PlayfairDisplay-Regular";
  display: block;
  font-size: 1.8em;
}
.text-prod-price{
  font-family: "Raleway-Medium";
  font-size: 0.6em;
}
.text-footer{
  font-family: "PlayfairDisplay-Regular";
}
.text-button{
  font-family:"Raleway-Medium";
  font-size: 14px;
}
.text-email{
  font-family:"Raleway-Light";
}
.text-white{
  color: white;
}
.text-black{
  color: #2d2d2d;
}
.text-gray{
  color: #969696;
}
.text-red{
  color: #e2574c;
}
.text-align-center{
  text-align: center;
}


/* ---------------------------- */
/* images and backgrounds */

.image-product{
  position: relative;
  margin: auto;
  z-index: -1;
}
.image-logo{
  height: 10vh;
  position: left;
  padding: 10px;
}
.image-shopping{
  height: 10vh;
  position: right;
  padding: 10px;
}
.background-image-season{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/banner-girl.png"),
  url("images/flower-bkgd.jpg" );
  height: 50vh;
  background-position: bottom center;
  background-size: cover, 18vh, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  text-align: center;
  justify-content: center;
}

.background-image-updates{
  background-image: url("images/wave-bkgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

/* flex */
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-just-center{
  justify-content: center;
}
.flex-just-between{
  justify-content: space-between;
}
.flex-just-around{
  justify-content: space-around;
}
.flex-align-center{
  align-content: center;
}

/* Borders and edges */

.border-gray{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d7d7d7;
}

.border-white{
  border-top-style: solid;
  border-top-color: white;
  border-top-width: 3px;
}
.padding{
  padding: 30px 30px;
}
.icon-padding{
  padding: 0 10px 10px 10px;
}
.padding-bottom{
  padding-bottom: 30px;
}
.display-block{
  display: block;
}
.clear{
  clear: both;
}

form{
  border-radius: 50px;
  background-color: white;
  padding: 2px;
  margin: auto;
  min-width: 400px;
}
.button{
  background-color: #e2574c;
  border-radius: 50px;
  border: none;
  flex-grow: 1;
  padding: 10px;
}
.email{
  border-style: none;
  width: 70%;
  padding-left: 20px;
  border-radius: 50px;
}

footer{
  background-color: #242424;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}
a: hover{
  color: #b64036;
}
a:link, a:visited {
    text-decoration: none;
    color: white;
}
.top.nav{
  height: 10vh;
}
.top-margin{
  margin-top: 10vh;
}
.margin-auto{
  margin:auto;
}
.social-names{
  width:25%;
}
.flex-grow{
  flex-grow:1;
}

@media only screen and (max-device-width: 600px){

.display-none-mobile{
  display: none;
}
.flex-col-mobile{
  flex-direction: column;
}
.text-align-center-mobile{
  text-align: center;
}
.flex-just-center-mobile{
  justify-content: center;
}
.flex-grow-mobile{
  flex-grow:1;
}
}

@media only screen
  and (min-device-width: 600px){

.flex-row-tablet{
  flex-direction: row;
}
.flex-wrap-tablet{
  flex-wrap: wrap;
}
.flex-nowrap{

}
.display-none-tablet{
  display:none;
}
.text-align-left-tablet{
  text-align: left;
}
.flex-col-tablet{
  flex-direction: column;
}
.flex-just-start-tablet{
  justify-content: flex-start;
}
.flex-align-end-tablet{
  align-content: flex-end;
}
.width50-tablet{
  width: 50%
}
.flex-grow-tablet{
  flex-grow:1;
}
.text-align-right-tablet{
  text-align: right;}

.flex-shrink-tablet{
  flex-shrink: 1;
}

  }
  @media only screen
    and (min-device-width: 1240px){

      .flex-wrap-desktop{
        flex-wrap: nowrap;
      }



    }
